main {
    min-width: 50%;
    max-width: 1024px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    border: 1px solid #db3236;
    color: white;
    border-radius: 10px;
    margin-bottom: 15px;
}
main > .input-group {
    max-width: 600px;
    padding: 10px;
}
main > .input-group > .form-control {
    color: white;
    background-color: black;
}

p:hover {
    color: transparent;
    transition: 0.5s;
}

#resultField {
    width: 90%;
    min-height: 200px;

    padding: 10px;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#resultField h1 {
    font-size: 25px;
    font-weight: 100;
    color: white;
}

#resultField > div {
    border: 1px solid #3cba54;
    border-Radius: 10px;
    overflow: hidden;

    padding: 20px;
    margin-bottom: 20px;
}
#resultField > div > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.input-group {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

@media screen and (max-width: 768px){
    #resultField {
        width: 100%;
        padding: 0px;
    }
    #resultField > div {
        border: none;
        border-radius: 0px;
        border-top: 1px solid #3cba54;
        border-bottom: 1px solid #3cba54;
    }
    
    .input-group {
        flex-direction: column;
        width: 80% !important;
    }
    .form-control, .btn {
        width: 100% !important;
    }
}