footer {
    border: 1px solid #f4c20d;
    border-bottom: none;
    border-radius: 10px 10px 0 0;

    width: 100%;
    max-width: 720px;
}

p {
    text-align: center;
    padding: 10px;
    margin: 0px !important;

    font-size: 25px;
    font-weight: lighter;
    color: white;
}

@media screen and (min-width: 1440px){
    footer {
        border-radius: 5px;

        border-left: 1px solid #f4c20d;
        border-right: 1px solid #f4c20d;
    }
}